<div class="overview-content">
  <h1>OneMenu</h1>
  <p>
    <strong>OneMenu</strong> est une application collaborative qui vous aide à
    <strong>créer un menu commun</strong> pour vos repas en groupe. Une fois
    toutes les notes recueillies, OneMenu sélectionne
    <strong>automatiquement</strong> le <strong>menu</strong> qui
    <strong>maximise la satisfaction</strong> de tous les participants. 😊
  </p>
  <div class="instructions">
    <div>
      <h2>Accueil</h2>
      <p>Vous êtes actuellement à l'accueil</p>
    </div>
    <div>
      <h2 routerLink="/session">Voter</h2>
      <p>Notez chaque plat proposé de 1 à 10</p>
    </div>
    <div>
      <h2 routerLink="/create">Créer</h2>
      <p>Lancez une session de vote et invitez vos amis</p>
    </div>
    <div>
      <h2 routerLink="/profile">Profil</h2>
      <p>Vos informations et conditions d'utilisation</p>
    </div>
  </div>
</div>

<div style="text-align: center; margin-top: 50px">
  <h3>OneMenu vous souhaite bon appétit !</h3>
</div>
